.info{
  padding: 4rem;
  background: $linear-gradient-dark;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  &__group{
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-column-gap: 3rem;
    align-items: center;
  }
  &__icon{
    fill: $color-blue-turk;
    width: 5.5rem;
    height: 5.5rem;
  }
  &__detail{
    font-size: 1.8rem;
    color: $color-grey-2;
  }
}


.skills{
  padding: $section-padding;
  background: $color-light-1;
  display: grid;
  grid-row-gap: 5rem;
  @include respond(sm){
    padding: 8rem 2rem;
  };
  &__container{
    padding: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    text-align: center;
  }
}
.tooltip{
  position: absolute;
  visibility: hidden;
  background: rgba($color-black-1, .8);
  color: $color-grey-2;
  padding: .2rem 1.5rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  &::after{
  content: "";
  position: absolute;
  margin-top: -10px;
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent  transparent rgba($color-black-1, .8) transparent;
  }

}
.chart{
  min-width: 20rem;
  justify-self: center;
  &__icon-box{
    position: relative;
    &:hover{
      .tooltip{
        visibility: visible;
      }
    }
    .tooltip{
      position: absolute;
      bottom: 5%;
    }
  }
  &__icon{
    margin-bottom: 1.5rem;
    justify-self: center;
    margin-top: 1.5rem;
    width: 5.5rem;
    height: 5.5rem;
  }

  &__roundBg{
    fill: none;
    stroke-width: 3.8;
  }
  &__circle{
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  &__percentage{
    fill: $color-grey-1;
    font-family: sans-serif;
    font-size: .5em;
    text-anchor: middle;
  }
}
@keyframes progress {
  0%{
    stroke-dasharray: 0 100;
  }
}

.frams-container{
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-gap: 8rem;
  padding: 2rem;
}
.fram-box{
  position: relative;
  &:hover{
    .tooltip{
      visibility: visible;
    }
  }
}

.fram-tooltip{
  top: 100%;
}
.frams-icons{
  transition: all .2s;
  &:hover{
    opacity: .8;
    @include hoverEffect;
  }
}
