.header{
  height: 90vh;
  background: $linear-gradient-light;
  position: relative;
  &__content{
    position: absolute;
    top: 50%;
    left: 6rem;
    transform: translateY(-50%);
    @include respond(md){
      left: 3rem;
    };
  }

  &__heading{
    margin-bottom: 6rem;
    @include respond(md){
      margin-bottom: 3.5rem;
    };
    @include respond(sm){
      font-size: 4rem !important;
      letter-spacing: 2rem !important;
    };
  }
  &__text{
    font-size: 2.2rem;
    font-weight: 300;
    color: $color-grey-2;
    span{
      font-size: 2em;
      font-weight: 400;
      color: $color-pink;
      letter-spacing: 1rem;
    }
  }
  &__btn{
    font-size: 1.8rem;
    margin-top: 4rem;
    @include respond(md){
      margin-top: 2.5rem;
    };
  }

  .video{
    &__bg{

      height: 90vh;
    }
  }
}

.particles{
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
