.footer{
  background: $color-black-2;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include respond(md){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  };

  &__logo-box{
    display: flex;
    align-items: center;
    span{
      font-size: 2rem;
      font-weight: 700;
      color: $color-light-1;
      text-transform: uppercase;
    }
  }
  &__logo{
    margin-right: 3rem;
  }
}

.social{
  align-self: center;
  display: flex;
  justify-content: space-between;
  &__link{
    text-decoration: none;
    transition: all .3s;
    &:hover{
      @include hoverEffect;
      opacity: .8;
    }

  }
  &__icon{
    width: 3.5rem;
    height: 3.5rem;
  }
}

.copyright{
  font-size: 1.5rem;
  color: $color-grey-1;
  justify-self: end;
  align-self: end;
}
